.main{
    background-color: rgb(110, 110, 110);
}
.section1{
    background-color: black;
}
.section3{
    background-color: black;

}
.section4{
    background-color: black;
}
.section5{
    background-color: black;
    height: 450px;
}
.section6{
    background-color: black;
    height: 500px;
}
.section7{
    background-color: black;
    height: 800px;
}
.footer{
    background-color: black;
    display: flex;
    width: 100%;
    margin: 0% auto;
    height: 400px;
}
